create-next-app-nodejs/
user-dirs.dirs
lisfhslkhfslhf/
Slack/
user-dirs.locale
mimeapps.list
variety/
bspwm_bak/
nextjs-nodejs/
polybar_old/
xfce4/
eos-update-notifier.first_init
Postman/
Code/
Chromium/
chromium/
google-chrome/
yarn/
obsidian/
btop.log
